@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500&display=swap');

.everything {
    font-family: 'Lexend Deca', sans-serif;
}
.room {
    font-size: 140%;
    margin: 0px 3px 3px 3px;
    padding: 3px 20px;
    color:#313437;
    background-color: #e2b711;
    border-radius: 6px;
}

.rooms {
    columns: 3 ;
    column-gap: 2px;
    margin: 0px 5px 200px 10px;
}
html {
    color:#d1d0c5;
    background-color: #313437;
}

h1 {
    color: #d1d0c5;
    font-size: 200%;
    margin: 0px 0px 0px 10px ;
}

.freerooms {
    display: flex;
}

.iitkgp {
    margin: 12px 0px 0px 3px;
    color: #e2b711;
    font-size: 52%;
}

select {
    border: 0px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 100%;
    font-weight: 500;
    border-radius: 8px;
    padding:10px;
    margin: 10px 10px 0px 10px;
    color:white;
    background-color: #2b2e31;
}

.topbar {
    display: flex;
    justify-content:space-between;
    columns: 2 ;
}

.input {
    margin: 10px 0px 20px 10px;
    width: 80%;
    font-size: 15px;
    font-weight: 500;
}

.footer {
    height: 100px;
    color: white;
    background-color: rgb(61, 62, 66);
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    margin: 10px 0px 0px 0px;
}